<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-do-index") %>>
          <a href="/docs/providers/do/index.html">DigitalOcean Provider</a>
        </li>

        <li<%= sidebar_current("docs-do-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-do-datasource-account") %>>
              <a href="/docs/providers/do/d/account.html">digitalocean_account</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-certificate") %>>
              <a href="/docs/providers/do/d/certificate.html">digitalocean_certificate</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-database-cluster") %>>
              <a href="/docs/providers/do/d/database_cluster.html">digitalocean_database_cluster</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-domain") %>>
              <a href="/docs/providers/do/d/domain.html">digitalocean_domain</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-droplet") %>>
              <a href="/docs/providers/do/d/droplet.html">digitalocean_droplet</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-droplet-snapshot") %>>
              <a href="/docs/providers/do/d/droplet_snapshot.html">digitalocean_droplet_snapshot</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-floating-ip") %>>
              <a href="/docs/providers/do/d/floating_ip.html">digitalocean_floating_ip</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-image") %>>
              <a href="/docs/providers/do/d/image.html">digitalocean_image</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-images") %>>
              <a href="/docs/providers/do/d/images.html">digitalocean_images</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-loadbalancer") %>>
              <a href="/docs/providers/do/d/loadbalancer.html">digitalocean_loadbalancer</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-project") %>>
              <a href="/docs/providers/do/d/project.html">digitalocean_project</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-projects") %>>
              <a href="/docs/providers/do/d/projects.html">digitalocean_projects</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-kubernetes-cluster") %>>
              <a href="/docs/providers/do/d/kubernetes_cluster.html">digitalocean_kubernetes_cluster</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-kubernetes-versions") %>>
              <a href="/docs/providers/do/d/kubernetes_versions.html">digitalocean_kubernetes_versions</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-record") %>>
              <a href="/docs/providers/do/d/record.html">digitalocean_record</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-region") %>>
              <a href="/docs/providers/do/d/region.html">digitalocean_region</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-regions") %>>
              <a href="/docs/providers/do/d/regions.html">digitalocean_regions</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-sizes") %>>
              <a href="/docs/providers/do/d/sizes.html">digitalocean_sizes</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-ssh-key") %>>
              <a href="/docs/providers/do/d/ssh_key.html">digitalocean_ssh_key</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-tag") %>>
              <a href="/docs/providers/do/d/tag.html">digitalocean_tag</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-volume") %>>
              <a href="/docs/providers/do/d/volume.html">digitalocean_volume</a>
            </li>
            <li<%= sidebar_current("docs-do-datasource-volume-snapshot") %>>
              <a href="/docs/providers/do/d/volume_snapshot.html">digitalocean_volume_snapshot</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-do-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-do-resource-cdn") %>>
              <a href="/docs/providers/do/r/cdn.html">digitalocean_cdn</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-certificate") %>>
              <a href="/docs/providers/do/r/certificate.html">digitalocean_certificate</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-database-cluster") %>>
              <a href="/docs/providers/do/r/database_cluster.html">digitalocean_database_cluster</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-database-connection_pool") %>>
              <a href="/docs/providers/do/r/database_connection_pool.html">digitalocean_database_connection_pool</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-database-db") %>>
              <a href="/docs/providers/do/r/database_db.html">digitalocean_database_db</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-database-firewall") %>>
              <a href="/docs/providers/do/r/database_firewall.html">digitalocean_database_firewall</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-database-replica") %>>
              <a href="/docs/providers/do/r/database_replica.html">digitalocean_database_replica</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-database-user") %>>
              <a href="/docs/providers/do/r/database_user.html">digitalocean_database_user</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-domain") %>>
              <a href="/docs/providers/do/r/domain.html">digitalocean_domain</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-droplet") %>>
              <a href="/docs/providers/do/r/droplet.html">digitalocean_droplet</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-droplet-snapshot") %>>
              <a href="/docs/providers/do/r/droplet_snapshot.html">digitalocean_droplet_snapshot</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-firewall") %>>
              <a href="/docs/providers/do/r/firewall.html">digitalocean_firewall</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-floating-ip") %>>
              <a href="/docs/providers/do/r/floating_ip.html">digitalocean_floating_ip</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-floating-ip-assignment") %>>
              <a href="/docs/providers/do/r/floating_ip_assignment.html">digitalocean_floating_ip_assignment</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-loadbalancer") %>>
              <a href="/docs/providers/do/r/loadbalancer.html">digitalocean_loadbalancer</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-kubernetes-cluster") %>>
              <a href="/docs/providers/do/r/kubernetes_cluster.html">digitalocean_kubernetes_cluster</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-kubernetes-node-pool") %>>
              <a href="/docs/providers/do/r/kubernetes_node_pool.html">digitalocean_kubernetes_node_pool</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-project") %>>
              <a href="/docs/providers/do/r/project.html">digitalocean_project</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-project-resource") %>>
              <a href="/docs/providers/do/r/project_resource.html">digitalocean_project_resource</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-record") %>>
              <a href="/docs/providers/do/r/record.html">digitalocean_record</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-spaces-bucket") %>>
              <a href="/docs/providers/do/r/spaces_bucket.html">digitalocean_spaces_bucket</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-ssh-key") %>>
              <a href="/docs/providers/do/r/ssh_key.html">digitalocean_ssh_key</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-tag") %>>
              <a href="/docs/providers/do/r/tag.html">digitalocean_tag</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-volume") %>>
              <a href="/docs/providers/do/r/volume.html">digitalocean_volume</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-volume-attachment") %>>
              <a href="/docs/providers/do/r/volume_attachment.html">digitalocean_volume_attachment</a>
            </li>
            <li<%= sidebar_current("docs-do-resource-volume-snapshot") %>>
              <a href="/docs/providers/do/r/volume_snapshot.html">digitalocean_volume_snapshot</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
  <% end %>
